img{
    justify-content: center;
}

h1 {
    text-align: center;
    color: rgb(247, 211, 140);
  }
  
h2{
  color: lightblue
}


  
  button{
    background-color: rgb(247, 211, 140);
  }

  nav {
    background-color: rgb(247, 211, 140);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(56, 28, 216);
    text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}


